ExampleCsharpExtended/TwinfieldApi/Service References/TwinfieldBankBookService/BankBookService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.BankBookService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.BankBookService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8180/webservices/BankBookService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" />
  <xs:complexType name="CreateBankBook">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BankBookCommand">
        <xs:sequence>
          <xs:element minOccurs="0" name="BankAccount" nillable="true" type="tns:BankAccount" />
          <xs:element minOccurs="0" name="GeneralLedgerAccount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateBankBook" nillable="true" type="tns:CreateBankBook" />
  <xs:complexType name="BankBookCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q1:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BankBookCommand" nillable="true" type="tns:BankBookCommand" />
  <xs:complexType name="BankAccount">
    <xs:sequence>
      <xs:element name="Bic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element name="Iban" nillable="true" type="xs:string" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Nbic" nillable="true" type="xs:string" />
      <xs:element name="Number" nillable="true" type="xs:string" />
      <xs:element name="ReferenceNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankAccount" nillable="true" type="tns:BankAccount" />
  <xs:complexType name="ChangeBankBookName">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BankBookCommand">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChangeBankBookName" nillable="true" type="tns:ChangeBankBookName" />
  <xs:complexType name="ChangeBankBookShortName">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BankBookCommand">
        <xs:sequence>
          <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChangeBankBookShortName" nillable="true" type="tns:ChangeBankBookShortName" />
  <xs:complexType name="ChangeBankBookBankAccount">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BankBookCommand">
        <xs:sequence>
          <xs:element minOccurs="0" name="BankAccount" nillable="true" type="tns:BankAccount" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChangeBankBookBankAccount" nillable="true" type="tns:ChangeBankBookBankAccount" />
  <xs:complexType name="ChangeBankBookGeneralLedgerAccount">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BankBookCommand">
        <xs:sequence>
          <xs:element minOccurs="0" name="GeneralLedgerAccount" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChangeBankBookGeneralLedgerAccount" nillable="true" type="tns:ChangeBankBookGeneralLedgerAccount" />
  <xs:complexType name="GetBankBook">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q2:Query">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBankBook" nillable="true" type="tns:GetBankBook" />
  <xs:complexType name="GetBankBookResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" base="q3:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="AutomaticBankProcessing" nillable="true" type="tns:AutomaticBankProcessing" />
          <xs:element minOccurs="0" name="BankAccount" nillable="true" type="tns:BankAccount" />
          <xs:element minOccurs="0" name="GeneralLedgerAccount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBankBookResult" nillable="true" type="tns:GetBankBookResult" />
  <xs:complexType name="AutomaticBankProcessing">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessDirectDebits" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProcessPayments" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProcessStatements" type="xs:boolean" />
      <xs:element minOccurs="0" name="SignUpState" type="tns:AutomaticBankProcessingSignUpState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutomaticBankProcessing" nillable="true" type="tns:AutomaticBankProcessing" />
  <xs:simpleType name="AutomaticBankProcessingSignUpState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Inactive" />
      <xs:enumeration value="Pending" />
      <xs:enumeration value="Active" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AutomaticBankProcessingSignUpState" nillable="true" type="tns:AutomaticBankProcessingSignUpState" />
  <xs:complexType name="BankBookServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="tns:BankBookServiceFaultCode" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankBookServiceFault" nillable="true" type="tns:BankBookServiceFault" />
  <xs:simpleType name="BankBookServiceFaultCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BankBookNotFound" />
      <xs:enumeration value="BankBookAlreadyExists" />
      <xs:enumeration value="BankBookInvalidAccountSettings" />
      <xs:enumeration value="BankBookInvalidGeneralLedgerAccount" />
      <xs:enumeration value="BankBookAccountNumberMayNotBeChanged" />
      <xs:enumeration value="BankBookGeneralLedgerAccountMayNotBeChanged" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BankBookServiceFaultCode" nillable="true" type="tns:BankBookServiceFaultCode" />
</xs:schema>