ExampleCsharpExtended/TwinfieldApi/Service References/TwinfieldBankBookService/BankBookService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.twinfield.com/" elementFormDefault="qualified" targetNamespace="http://www.twinfield.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8180/webservices/BankBookService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" />
  <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" name="Command" nillable="true" type="q1:Command" />
  <xs:element name="SessionId" nillable="true" type="xs:string" />
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" name="Query" nillable="true" type="q2:Query" />
  <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" name="Result" nillable="true" type="q3:QueryResult" />
</xs:schema>