ExampleCsharpExtended/TwinfieldApi/Service References/TwinfieldBankBookService/BankBookService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.twinfield.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankBookService" targetNamespace="http://www.twinfield.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.twinfield.com/Imports">
      <xsd:import schemaLocation="http://localhost:8180/webservices/BankBookService.svc?xsd=xsd3" namespace="http://www.twinfield.com/" />
      <xsd:import schemaLocation="http://localhost:8180/webservices/BankBookService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.BankBookService" />
      <xsd:import schemaLocation="http://localhost:8180/webservices/BankBookService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" />
      <xsd:import schemaLocation="http://localhost:8180/webservices/BankBookService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CommandRequest">
    <wsdl:part name="Command" element="tns:Command" />
  </wsdl:message>
  <wsdl:message name="CommandRequest_Headers">
    <wsdl:part name="SessionId" element="tns:SessionId" />
  </wsdl:message>
  <wsdl:message name="BankBookService_Process_OutputMessage" />
  <wsdl:message name="BankBookService_Process_BankBookServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.BankBookService" name="detail" element="q1:BankBookServiceFault" />
  </wsdl:message>
  <wsdl:message name="BankBookService_Process_SecurityFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" name="detail" element="q2:SecurityFault" />
  </wsdl:message>
  <wsdl:message name="BankBookService_Process_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" name="detail" element="q3:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="QueryRequest">
    <wsdl:part name="Query" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="QueryRequest_Headers">
    <wsdl:part name="SessionId" element="tns:SessionId" />
  </wsdl:message>
  <wsdl:message name="QueryResponse">
    <wsdl:part name="Result" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="BankBookService_Query_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" name="detail" element="q4:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="BankBookService_Query_SecurityFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" name="detail" element="q5:SecurityFault" />
  </wsdl:message>
  <wsdl:message name="BankBookService_Query_BankBookServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.BankBookService" name="detail" element="q6:BankBookServiceFault" />
  </wsdl:message>
  <wsdl:portType name="BankBookService">
    <wsdl:operation name="Process">
      <wsdl:input wsaw:Action="http://www.twinfield.com/BankBookService/Process" name="CommandRequest" message="tns:CommandRequest" />
      <wsdl:output wsaw:Action="http://www.twinfield.com/BankBookService/ProcessResponse" message="tns:BankBookService_Process_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.twinfield.com/BankBookService/ProcessBankBookServiceFaultFault" name="BankBookServiceFaultFault" message="tns:BankBookService_Process_BankBookServiceFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.twinfield.com/BankBookService/ProcessSecurityFaultFault" name="SecurityFaultFault" message="tns:BankBookService_Process_SecurityFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.twinfield.com/BankBookService/ProcessValidationFaultFault" name="ValidationFaultFault" message="tns:BankBookService_Process_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://www.twinfield.com/BankBookService/Query" name="QueryRequest" message="tns:QueryRequest" />
      <wsdl:output wsaw:Action="http://www.twinfield.com/BankBookService/QueryResponse" name="QueryResponse" message="tns:QueryResponse" />
      <wsdl:fault wsaw:Action="http://www.twinfield.com/BankBookService/QueryValidationFaultFault" name="ValidationFaultFault" message="tns:BankBookService_Query_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.twinfield.com/BankBookService/QuerySecurityFaultFault" name="SecurityFaultFault" message="tns:BankBookService_Query_SecurityFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.twinfield.com/BankBookService/QueryBankBookServiceFaultFault" name="BankBookServiceFaultFault" message="tns:BankBookService_Query_BankBookServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_BankBookService" type="tns:BankBookService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Process">
      <soap:operation soapAction="http://www.twinfield.com/BankBookService/Process" style="document" />
      <wsdl:input name="CommandRequest">
        <soap:header message="tns:CommandRequest_Headers" part="SessionId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BankBookServiceFaultFault">
        <soap:fault use="literal" name="BankBookServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SecurityFaultFault">
        <soap:fault use="literal" name="SecurityFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://www.twinfield.com/BankBookService/Query" style="document" />
      <wsdl:input name="QueryRequest">
        <soap:header message="tns:QueryRequest_Headers" part="SessionId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="QueryResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SecurityFaultFault">
        <soap:fault use="literal" name="SecurityFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BankBookServiceFaultFault">
        <soap:fault use="literal" name="BankBookServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankBookService">
    <wsdl:port name="BasicHttpBinding_BankBookService" binding="tns:BasicHttpBinding_BankBookService">
      <soap:address location="http://localhost:8180/webservices/BankBookService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>